body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  height: 100vh;
}
#grid {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  transition-delay: 10s;
}
#header {
  width: auto;
  height: auto;
}
a {
  text-decoration: none;
  color: #39304f;
}
a:hover {
  text-decoration: underline;
}
#topContainer {
  width: 100vw;
  height: 100vh;
  display: block;
  color: #39304f;
}
#subContainer {
  height: auto;
  width: 100vw;
  position: relative;
  top: 50%;
  transform: translateY(-70%);
}
#aboutMe {
  width: 90vw;
  height: auto;
  margin: auto;
  font-size: 3.8vw;
  font-family: "Merriweather", serif;
  font-weight: 100;
  letter-spacing: 0.02px;
  line-height: 1.2;
  text-align: center;
}
#subHeader {
  font-size: calc(12px + 1vw);
  font-family: "Merriweather", serif;
  font-weight: 100;
  width: 85vw;
  margin: auto;
  text-align: center;
  position: relative;
  top: 10vw;
}
#subHeader a {
  color: #39304f;
  z-index: 2;
}
#bottomContainer {
  background-color: #39304f;
  width: 100vw;
  margin: auto;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 2vw;
  justify-content: space-around;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: calc(12px + 1vw);
  text-align: left;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
#bottomContainer a {
  text-decoration: none;
}
#box1 {
  margin: auto;
  height: 25vw;
  width: 25vw;
  text-align: center;
}
#box1:hover #textbox1 {
  display: contents;
  background-color: white;
  color: #39304f;
}
#box1:hover {
  background-color: white;
}
#textbox1 {
  display: none;
}
#box1 video {
  object-fit: contain;
  height: 25vw;
  width: 25vw;
}
#box1:hover video {
  display: none;
}
#box2 {
  margin: auto;
  height: 24.5vw;
  width: 25vw;
  background-color: white;
  text-align: center;
}
#box2:hover #textbox2 {
  display: contents;
  background-color: white;
  color: #39304f;
}
#textbox2 {
  display: none;
}
#box2 img {
  object-fit: contain;
  width: 25vw;
  height: 25vw;
}
#box2:hover img {
  display: none;
}
#box2:hover {
  background-color: white;
}
#box3 {
  margin: auto;
  height: 25vw;
  width: 25vw;
  background-color: black;
  text-align: center;
}
#box3:hover #textbox3 {
  display: contents;
  /* background-color: white; */
  padding-left: 1.5vw;
  color: #39304f;
}
#textbox3:hover #box3 {
  background-color: aqua;
}
#textbox3 {
  display: none;
}
#box3 video {
  object-fit: contain;
  width: 25vw;
  height: 25vw;
}
#box3:hover video {
  display: none;
}
#box4 {
  margin: auto;
  height: 25vw;
  width: 25vw;
  background-color: white;
  text-align: center;
}
#box4:hover #textbox4 {
  display: contents;
  background-color: white;
  padding-left: 1.5vw;
  color: #39304f;
}
#textbox4 {
  display: none;
}
#box4 img {
  object-fit: contain;
  width: 25vw;
  height: 25vw;
}
#box4:hover img {
  display: none;
}
#box5 {
  margin: auto;
  height: 25vw;
  width: 25vw;
  background-color: white;
  text-align: center;
}
#box5:hover #textbox5 {
  display: contents;
  background-color: white;
  padding-left: 1.5vw;
  color: #39304f;
}
#textbox5 {
  display: none;
}
#box5 img {
  object-fit: contain;
  width: 25vw;
  height: 25vw;
}
#box5:hover img {
  display: none;
}
#footer {
  background-color: #39304f;
  width: 100vw;
  height: 0vw;
}
#footer2 {
  background-color: #39304f;
  width: 100vw;
  height: 5vw;
}

@media (min-width: 631px) and (max-width: 1190px) {
  body {
    cursor: auto;
  }
  a {
    cursor: grabbing;
  }
  a:hover {
    text-decoration: none;
  }
  #videoRect {
    display: contents;
  }
  #subContainer {
    height: auto;
    width: 100vw;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
  }
  #bottomContainer {
    background-color: #39304f;
    width: 100vw;
    margin: auto;
    height: auto;
    grid-template-columns: auto auto;
    row-gap: 12vw;
    margin: auto;
    background-color: #39304f;
    padding-top: 4vw;
    padding-bottom: 16vw;
  }
  #bottomContainer a {
    position: relative;
    left: 2px;
    bottom: 60px;
  }
  #box1 {
    width: 40vw;
    height: 40vw;
    text-align: left;
    background-color: white;
  }
  #box1 video {
    object-fit: contain;
    width: 40vw;
    height: 40vw;
    margin: auto;
    background-color: white;
  }
  #box1:hover video {
    display: inherit;
  }
  #box1:hover #textbox1 {
    display: contents;
    color: white;
  }
  #box1:hover a {
    position: relative;
    top: -81px;
  }
  #textbox1 {
    display: contents;
    position: relative;
    right: 1vw;
    color: white;
    height: auto;
    width: auto;
  }
  #box2 {
    width: 40vw;
    height: 40vw;
    background-color: white;
    text-align: left;
  }
  #box2:hover #textbox2 {
    display: contents;
    color: white;
  }
  #box2:hover a {
    position: relative;
    top: -81px;
  }
  #textbox2 {
    display: contents;
    position: relative;
    right: 1vw;
    color: white;
    height: auto;
    width: auto;
  }
  #box2 img {
    object-fit: contain;
    width: 40vw;
    height: 40vw;
    margin: auto;
    background-color: white;
  }
  #box2:hover img {
    display: inherit;
  }
  #box2 {
    background-color: white;
  }
  #box3 {
    width: 40vw;
    height: 40vw;
    background-color: black;
    text-align: left;
  }
  #box3:hover #textbox3 {
    display: contents;
    color: white;
  }
  #box3:hover a {
    position: relative;
    top: -81px;
  }
  #textbox3 {
    display: contents;
    position: relative;
    right: 1vw;
    color: white;
    height: auto;
    width: auto;
  }
  #box3 video {
    object-fit: contain;
    width: 40vw;
    height: 40vw;
    margin: auto;
    background-color: black;
  }
  #box3:hover video {
    display: inherit;
  }
  #box4 {
    width: 40vw;
    height: 40vw;
    background-color: white;
    text-align: left;
  }
  #box4:hover #textbox4 {
    display: contents;
    color: white;
  }
  #box4:hover a {
    position: relative;
    top: -81px;
  }
  #textbox4 {
    display: contents;
    right: 1vw;
    color: white;
    height: auto;
    width: auto;
  }
  #box4 img {
    object-fit: contain;
    width: 40vw;
    height: 40vw;
    margin: auto;
    background-color: white;
  }
  #box4:hover img {
    display: inherit;
  }
  #box5 {
    width: 40vw;
    height: 40vw;
    background-color: white;
    text-align: left;
  }
  #box5:hover #textbox5 {
    display: contents;
    color: white;
  }
  #box5:hover a {
    position: relative;
    top: -81px;
  }
  #textbox5 {
    display: contents;
    right: 1vw;
    color: white;
    height: auto;
    width: auto;
  }
  #box5 img {
    object-fit: contain;
    width: 40vw;
    height: 40vw;
    margin: auto;
    background-color: white;
  }
  #box5:hover img {
    display: inherit;
  }
}

@media (max-width: 630px) {
  #topContainer {
    height: 100vh;
    display: block;
  }
  #subContainer {
    position: relative;
    top: 50%;
    transform: translateY(-80%);
  }
  #aboutMe {
    font-size: calc(12px + 2vw);
  }
  #subHeader {
    font-size: calc(12px + 1vw);
  }
  #circle {
    display: none;
  }
  body {
    cursor: auto;
  }
  a {
    cursor: grabbing;
  }
  #bottomContainer {
    grid-template-columns: 100%;
    row-gap: 15vw;
    height: auto;
    padding-top: 10vw;
    padding-bottom: 25vw;
  }
  #bottomContainer a {
    position: relative;
    bottom: 4.8vw;
    left: 0.5vw;
    bottom: 60px;
  }
  #box1 {
    width: 70vw;
    height: 70vw;
    margin-left: 15vw;
    background-color: white;
    /* border: 0.5px black solid; */
    text-align: left;
  }
  #textbox1 {
    color: white;
    display: contents;
  }
  #box1:hover video {
    display: initial;
    background-color: white;
  }
  #box1:hover #textbox1 {
    display: contents;
    color: white;
  }
  #box1 video {
    object-fit: contain;
    width: 70vw;
    height: 70vw;
  }
  #box2 {
    width: 70vw;
    height: 70vw;
    margin-left: 15vw;
    text-align: left;
  }
  #textbox2 {
    display: contents;
    color: white;
  }
  #box2:hover img {
    display: initial;
    background-color: white;
  }
  #box2:hover #textbox2 {
    display: contents;
    color: white;
  }
  #box2 img {
    object-fit: contain;
    width: 70vw;
    height: 70vw;
  }
  #box3 {
    width: 70vw;
    height: 70vw;
    margin-left: 15vw;
    text-align: left;
  }
  #textbox3 {
    display: contents;
    color: white;
  }
  #box3 video {
    object-fit: contain;
    width: 70vw;
    height: 70vw;
  }
  #box3:hover video {
    display: initial;
    background-color: white;
    color: white;
  }
  #box3:hover #textbox3 {
    display: contents;
    color: white;
  }
  #box4 {
    width: 70vw;
    height: 70vw;
    margin-left: 15vw;
    text-align: left;
  }
  #textbox4 {
    display: contents;
    color: white;
  }
  #box4 img {
    object-fit: contain;
    width: 70vw;
    height: 70vw;
  }
  #box4:hover img {
    display: initial;
    background-color: white;
    color: white;
  }
  #box4:hover #textbox4 {
    display: contents;
    color: white;
  }
  #box5 {
    width: 70vw;
    height: 70vw;
    margin-left: 15vw;
    z-index: 1;
    text-align: left;
  }
  #textbox5 {
    display: contents;
    color: white;
  }
  #box5 img {
    object-fit: contain;
    width: 70vw;
    height: 70vw;
  }
  #box5:hover img {
    display: initial;
    background-color: white;
    color: white;
  }
  #box5:hover #textbox5 {
    display: contents;
    color: white;
  }
  #footer {
    width: 100vw;
    height: 4vw;
  }
  #footer2 {
    width: 100vw;
    height: 20vw;
  }
}
