body {
  margin: 0px;
  background-color: #f5f5f5;
  padding: 0px;
}
#name {
  font-family: "Ogg", serif;
  font-weight: 300;
  font-size: 3.5vw;
  color: black;
}
#category1 {
  color: black;
  font-weight: 400;
}
#category2 a {
  color: #707070;
}
#grid {
  display: grid;
  grid-template-columns: 35vw 65vw;
  grid-template-rows: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
#subHeader {
  font-size: calc(12px + 0.5vw);
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #707070;
  display: contents;
}
#bbg {
  margin-top: -12px;
  font-size: calc(12px + 0.2vw);
  line-height: calc(12px + 1.5vw);
  color: black;
  font-weight: 400;
}
#zebra {
  font-size: calc(12px + 0.2vw);
  line-height: calc(12px + 1.5vw);
  color: #707070;
}
#climate {
  font-size: calc(12px + 0.2vw);
  line-height: calc(12px + 1.5vw);
  color: #707070;
}
#skincleaning {
  font-size: calc(12px + 0.2vw);
  line-height: calc(12px + 1.5vw);
  color: #707070;
}
#mindthegap {
  font-size: calc(12px + 0.2vw);
  line-height: calc(12px + 1.5vw);
  color: #707070;
}
#leftColumn {
  grid-area: 1 / 1 / 2 / 2;
  padding-left: 2vw;
  height: auto;
  position: fixed;
  width: 100vw;
  padding-top: 2vw;
}
#textbox {
  width: 60vw;
  height: 30vw;
  position: absolute;
}
#clickhere:hover {
  text-decoration: underline;
}
#box1 {
  grid-area: 1 / 1 / 2 / 2;
}
#box2 {
  grid-area: 1 / 2 / 2 / 3;
}
#box3 {
  grid-area: 2 / 1 / 3 / 2;
}
#box4 {
  grid-area: 2 / 2 / 3 / 3;
}
#box5 {
  grid-area: 3 / 1 / 4 / 2;
}
#box6 {
  grid-area: 3 / 2 / 4 / 3;
}
#box1 img {
  object-fit: contain;
  height: 30vw;
  width: 30vw;
}
#box2 img {
  object-fit: contain;
  height: 30vw;
  width: 30vw;
}
#box3 img {
  object-fit: contain;
  height: 30vw;
  width: 30vw;
}
#box4 img {
  object-fit: contain;
  height: 30vw;
  width: 30vw;
}
#box5 img {
  object-fit: contain;
  height: 30vw;
  width: 30vw;
}
#box6 img {
  object-fit: contain;
  height: 30vw;
  width: 30vw;
}
#box7 img {
  object-fit: contain;
  height: 30vw;
  width: 30vw;
}
#box8 img {
  object-fit: contain;
  height: 30vw;
  width: 30vw;
}
#box9 img {
  object-fit: contain;
  height: 30vw;
  width: 30vw;
}
#box10 img {
  object-fit: contain;
  height: 30vw;
  width: 30vw;
}
#box11 img {
  object-fit: contain;
  height: 30vw;
  width: 30vw;
}
#box12 img {
  object-fit: contain;
  height: 30vw;
  width: 30vw;
}
#rightSideofPage {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2vw;
}
#rightColumn {
  padding-left: 2vw;
  display: grid;
  grid-template-columns: repeat(2, 30vw);
  grid-template-rows: repeat(3, 30vw);
  grid-column-gap: 0.5vw;
  grid-row-gap: 0.5vw;
  height: auto;
}
#descriptionbox {
  width: 60.5vw;
  height: auto;
  padding-left: 2vw;
}
#description {
  font-size: calc(12px + 0.5vw);
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  position: relative;
  color: black;
  padding-left: 0.5vw;
}

@media (max-width: 700px) and (min-width: 531px) {
  #name {
    padding-top: 5vw;
    font-size: 10vw;
    text-align: center;
  }
  #grid {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 80vw;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }
  #leftColumn {
    grid-area: 1 / 1 / 2 / 2;
    width: 95vw;
    position: relative;
    padding-top: initial;
  }
  #categorybucket {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    top: 10px;
  }
  #category1 a {
    color: black;
    font-weight: 400;
  }
  #work {
    display: none;
  }
  #bbg {
    display: none;
  }
  #zebra {
    display: none;
  }
  #climate {
    display: none;
  }
  #skincleaning {
    display: none;
  }
  #mindthegap {
    display: none;
  }
  #box1 img {
    object-fit: contain;
    height: 45vw;
    width: 45vw;
  }
  #box2 img {
    object-fit: contain;
    height: 45vw;
    width: 45vw;
  }
  #box3 img {
    object-fit: contain;
    height: 45vw;
    width: 45vw;
  }
  #box4 img {
    object-fit: contain;
    height: 45vw;
    width: 45vw;
  }
  #box5 img {
    object-fit: contain;
    height: 45vw;
    width: 45vw;
  }
  #box6 img {
    object-fit: contain;
    height: 45vw;
    width: 45vw;
  }
  #box7 img {
    object-fit: contain;
    height: 45vw;
    width: 45vw;
  }
  #box8 img {
    object-fit: contain;
    height: 45vw;
    width: 45vw;
  }
  #box9 img {
    object-fit: contain;
    height: 45vw;
    width: 45vw;
  }
  #box10 img {
    object-fit: contain;
    height: 45vw;
    width: 45vw;
  }
  #box11 img {
    object-fit: contain;
    height: 45vw;
    width: 45vw;
  }
  #box12 img {
    object-fit: contain;
    height: 45vw;
    width: 45vw;
  }
  #rightSideofPage {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  #rightColumn {
    display: grid;
    margin-left: 3vw;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: repeat(3, 45vw);
    grid-column-gap: 0.5vw;
    grid-row-gap: 0.5vw;
    padding-bottom: 5vw;
  }
  #descriptionbox {
    width: 95vw;
    height: auto;
  }
  #description {
    color: black;
    padding-left: 3vw;
  }
}

@media (max-width: 530px) {
  #name {
    padding-top: 5vw;
    font-size: 10vw;
    text-align: center;
  }
  #work {
    display: none;
  }
  #bbg {
    display: none;
  }
  #zebra {
    display: none;
  }
  #climate {
    display: none;
  }
  #skincleaning {
    display: none;
  }
  #mindthegap {
    display: none;
  }
  #grid {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 80vw;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }
  #leftColumn {
    grid-area: 1 / 1 / 2 / 2;
    width: 95vw;
    position: relative;
    padding-top: initial;
  }
  #category1 a {
    color: black;
    font-weight: 400;
  }
  #categorybucket {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    top: 10px;
  }
  #box1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  #box2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  #box3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  #box4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  #box5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  #box6 {
    grid-area: 6 / 1 / 7 / 2;
  }
  #box1 img {
    object-fit: contain;
    height: 100vw;
    width: 100vw;
  }
  #box2 img {
    object-fit: contain;
    height: 100vw;
    width: 100vw;
  }
  #box3 img {
    object-fit: contain;
    height: 100vw;
    width: 100vw;
  }
  #box4 img {
    object-fit: contain;
    height: 100vw;
    width: 100vw;
  }
  #box5 img {
    object-fit: contain;
    height: 100vw;
    width: 100vw;
  }
  #box6 img {
    object-fit: contain;
    height: 100vw;
    width: 100vw;
  }
  #box7 img {
    object-fit: contain;
    height: 100vw;
    width: 100vw;
  }
  #box8 img {
    object-fit: contain;
    height: 100vw;
    width: 100vw;
  }
  #box9 img {
    object-fit: contain;
    height: 100vw;
    width: 100vw;
  }
  #box10 img {
    object-fit: contain;
    height: 100vw;
    width: 100vw;
  }
  #box11 img {
    object-fit: contain;
    height: 100vw;
    width: 100vw;
  }
  #box12 img {
    object-fit: contain;
    height: 100vw;
    width: 100vw;
  }
  #rightSideofPage {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  #rightColumn {
    display: grid;
    margin-left: 0vw;
    padding: 0vw;
    grid-template-columns: repeat(1, 100vw);
    grid-template-rows: repeat(6, 100vw);
    grid-column-gap: 0vw;
    grid-row-gap: 0vw;
    height: auto;
    padding-bottom: 5vw;
  }
  #descriptionbox {
    width: 95vw;
    height: auto;
  }
  #description {
    color: black;
    padding-left: 3vw;
  }
}
