@font-face {
  font-family: "Ogg";
  src: url("ogg-web/Ogg-Regular.woff2") format("woff2"),
    url("ogg-web/Ogg-Regular.woff") format("woff");
}
body {
  margin: 0px;
  background-color: #f0f0f0;
  padding: 0px;
}
#name {
  font-family: "Ogg", serif;
  font-weight: 300;
  font-size: 3.5vw;
  color: black;
}
#grid {
  display: grid;
  grid-template-columns: 35vw 65vw;
  grid-template-rows: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#category1 a {
  color: #707070;
}
#category2 a {
  color: black;
  font-weight: 400;
}
#header a {
  color: black;
  text-decoration: none;
}
#header a:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: #707070;
}
a:hover {
  text-decoration: underline;
}
#subHeader {
  font-size: calc(12px + 0.5vw);
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #707070;
  display: contents;
}
#bbg {
  margin-top: -12px;
  font-size: calc(12px + 0.2vw);
  line-height: calc(12px + 1.5vw);
}
#zebra {
  font-size: calc(12px + 0.2vw);
  line-height: calc(12px + 1.5vw);
  color: #707070;
}
#climate {
  font-size: calc(12px + 0.2vw);
  line-height: calc(12px + 1.5vw);
  color: #707070;
}
#skincleaning {
  font-size: calc(12px + 0.2vw);
  line-height: calc(12px + 1.5vw);
  color: #707070;
}
#mindthegap {
  font-size: calc(12px + 0.2vw);
  line-height: calc(12px + 1.5vw);
  color: #707070;
}
#leftColumn {
  grid-area: 1 / 1 / 2 / 2;
  padding-left: 2vw;
  height: auto;
  position: fixed;
  width: 100vw;
  padding-top: 2vw;
}
#rightColumn {
  padding-top: 2vw;
  grid-area: 1 / 2 / 2 / 3;
  padding-left: 2vw;
  padding-bottom: 2vw;
  height: auto;
  display: flex;
}
#description {
  font-size: calc(12px + 0.49vw);
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  position: relative;
  color: black;
  padding-left: 2vw;
  padding-right: 3vw;
  padding-top: 2vw;
}

#description a {
  color: black;
}

#header {
  font-weight: 300;
}
#headshot {
  width: 19vw;
  padding-top: 2vw;
}
#clickhere {
  font-weight: 400;
}

@media (max-width: 700px) and (min-width: 371px) {
  #name {
    padding-top: 5vw;
    font-size: 10vw;
    text-align: center;
  }
  #grid {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 80vw;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }
  #leftColumn {
    grid-area: 1 / 1 / 2 / 2;
    width: 95vw;
    position: relative;
    padding-top: initial;
  }
  #categorybucket {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    top: 10px;
  }
  #category1 a {
    color: #707070;
  }
  #category2 a {
    color: black;
    font-weight: 400;
  }
  #work {
    display: none;
  }
  #bbg {
    display: none;
  }
  #zebra {
    display: none;
  }
  #climate {
    display: none;
  }
  #skincleaning {
    display: none;
  }
  #mindthegap {
    display: none;
  }
  #rightColumn {
    grid-area: 2 / 1 / 3 / 2;
  }
  #header {
    font-weight: 300;
  }
  #headshot {
    width: 40vw;
  }
  #description {
    color: black;
    padding-right: 3vw;
  }

  #rightColumn {
    padding-left: 3vw;
    padding-top: 3vw;
  }
}

@media (max-width: 370px) {
  #name {
    padding-top: 5vw;
    font-size: 10vw;
    text-align: center;
  }
  #grid {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 80vw;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }
  #leftColumn {
    grid-area: 1 / 1 / 2 / 2;
    width: 95vw;
    position: relative;
    padding-top: initial;
  }
  #categorybucket {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    top: 10px;
  }
  #category1 a {
    color: #707070;
  }
  #category2 a {
    color: black;
    font-weight: 400;
  }
  #work {
    display: none;
  }
  #bbg {
    display: none;
  }
  #zebra {
    display: none;
  }
  #climate {
    display: none;
  }
  #skincleaning {
    display: none;
  }
  #mindthegap {
    display: none;
  }
  #rightColumn {
    grid-area: 2 / 1 / 3 / 2;
  }
  #header {
    font-weight: 300;
  }
  #headshot {
    width: 45vw;
  }
  #description {
    color: black;
    padding-right: 3vw;
    font-size: calc(12px);
  }

  #rightColumn {
    padding-left: 3vw;
  }
}
