body {
  color: #39304f;
  background-color: white;
  margin: 0px;
}
#grid {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
#moveDown {
  position: relative;
  top: 3vw;
}
#header {
  margin-top: 4vw;
  line-height: 1.3;
  font-size: calc(12px + 1.5vw);
}
#mainContainer {
  width: 80vw;
  height: auto;
  margin-left: 4vw;
  margin-top: 5vw;
  margin-bottom: 6vw;
  color: #39304f;
  font-family: "Merriweather", serif;
  font-weight: 300;
  letter-spacing: 0.03px;
}
#description {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: calc(12px + 1.5vw);
  line-height: 1.1;
  width: 92vw;
}
#here {
  text-decoration-line: underline;
}
a {
  text-decoration: none;
  color: #39304f;
  font-family: "Fira Sans", sans-serif;
  line-height: 1.3;
  font-size: calc(12px + 1.5vw);
  font-weight: 300;
  font-style: normal;
  text-align: left;
}
#imageContainer2 {
  background-color: #39304f;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 6vw;
  justify-content: space-around;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: calc(12px + 1vw);
  padding-top: 6vw;
  padding-bottom: 6vw;
}
#imageContainer3 {
  background-color: #39304f;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 80%;
  row-gap: 6vw;
  padding-top: 6vw;
  padding-bottom: 6vw;
  justify-content: space-around;
}
#imageContainer2 div {
  width: 25vw;
  height: 25vw;
  margin: auto;
}
#imageContainer3 div {
  width: 60vw;
  height: 45vw;
  background-color: black;
  margin: auto;
}

#imageContainer2 img {
  width: 25vw;
  height: 25vw;
  object-fit: contain;
}

#imageContainer3 img {
  width: 60vw;
  height: 45vw;
  object-fit: contain;
}

#image1 video {
  object-fit: contain;
  width: 60vw;
  height: 45vw;
}
#caption {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: calc(12px + 0.8vw);
  text-align: left;
  position: relative;
  bottom: 15px;
}
#caption2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: calc(12px + 0.8vw);
  text-align: left;
  position: relative;
  bottom: 15px;
  color: white;
}

/* POP UP */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: black; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  z-index: 0;
}

#img01 {
  display: block;
  height: 70vw;
  width: 70vw;
  transform: scale(0.7);
  object-fit: contain;
  margin: auto;
  position: relative;
  bottom: 7vw;
}

.modal-content,
#captionB {
  animation-name: zoom;
}

.close {
  margin: auto;
  position: relative;
  left: 71vw;
  top: 7vw;
  color: black;
  font-size: 40px;
  font-weight: bold;
  z-index: 1;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

@media (min-width: 631px) and (max-width: 1100px) {
  #img01 {
    display: block;
    height: 70vw;
    width: 70vw;
    transform: scale(0.9);
    object-fit: contain;
    margin: auto;
    position: relative;
    bottom: 0vw;
  }
  .close {
    margin: auto;
    position: relative;
    left: 76vw;
    top: 9vw;
    color: black;
    font-size: 36px;
    font-weight: bold;
    z-index: 1;
  }
  .modal {
    z-index: 0;
  }
  #header {
    font-size: calc(12px + 1vw);
  }
  #description {
    font-size: calc(12px + 1vw);
  }
  a {
    font-size: calc(12px + 1vw);
  }
  #imageContainer2 {
    background-color: #39304f;
    width: 100vw;
    margin: auto;
    height: auto;
    grid-template-columns: auto auto;
    margin: auto;
    background-color: #39304f;
  }
  #imageContainer div {
    width: 40vw;
    height: 40vw;
    margin: auto;
  }
  #imageContainer2 div {
    width: 40vw;
    height: 40vw;
    margin: auto;
  }
  #imageContainer2 img {
    width: 40vw;
    height: 40vw;
    object-fit: contain;
    /* border-style: solid;
    border-color: black;
    border-width: 1px; */
  }
}

@media (min-width: 630px) and (max-width: 401px) {
  .modal {
    z-index: 0;
  }
  #img01 {
    display: block;
    height: 70vw;
    width: 70vw;
    transform: scale(1);
    position: relative;
    top: 45vw;
  }
  .close {
    margin: auto;
    position: relative;
    left: 78vw;
    top: 52vw;
    color: black;
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
  }
  #header {
    font-size: 3vw;
    line-height: 1.4;
  }
  #programsUsed {
    font-size: 3vw;
    line-height: 0.8;
  }
  #description {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-size: calc(12px + 1vw);
    line-height: 1.1;
  }
  #mainContainer {
    width: 90vw;
    margin: auto;
    padding-bottom: 4vw;
  }
  #imageContainer2 {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-around;
    row-gap: 10vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
  #imageContainer3 {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 5vw;
    padding-bottom: 5vw;
    justify-content: space-around;
  }
  #imageContainer img {
    width: 70vw;
    height: 70vw;
    object-fit: contain;
  }
  #imageContainer2 div {
    width: 70vw;
    height: 70vw;
  }
  #imageContainer2 img {
    width: 70vw;
    height: 70vw;
    object-fit: contain;
  }
  #imageContainer3 video {
    width: 70vw;
    height: 55vw;
    object-fit: contain;
  }
  #imageContainer3 div {
    width: 70vw;
    height: 55vw;
  }
  #imageContainer3 img {
    width: 70vw;
    height: 55vw;
    object-fit: contain;
    background-color: #39304f;
  }
  #description {
    font-size: 3vw;
  }
  a {
    font-size: 3vw;
    color: #39304f;
  }
}

@media (max-width: 400px) {
  .modal {
    z-index: 0;
  }
  #img01 {
    display: block;
    height: 70vw;
    width: 70vw;
    transform: scale(1);
    position: relative;
    top: 45vw;
  }
  .close {
    margin: auto;
    position: relative;
    left: 78vw;
    top: 53vw;
    color: black;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
  }
  #header {
    font-size: 3vw;
    line-height: 1.4;
  }
  #programsUsed {
    font-size: 3vw;
    line-height: 0.8;
  }
  #description {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-size: calc(12px + 1vw);
    line-height: 1.1;
  }
  #mainContainer {
    width: 90vw;
    margin: auto;
    padding-bottom: 4vw;
  }
  #imageContainer2 {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-around;
    row-gap: 10vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
  #imageContainer3 {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 5vw;
    padding-bottom: 5vw;
    justify-content: space-around;
  }
  #imageContainer img {
    width: 70vw;
    height: 70vw;
    object-fit: contain;
  }
  #imageContainer2 div {
    width: 70vw;
    height: 70vw;
  }
  #imageContainer2 img {
    width: 70vw;
    height: 70vw;
    object-fit: contain;
  }
  #imageContainer3 video {
    width: 70vw;
    height: 55vw;
    object-fit: contain;
  }
  #imageContainer3 div {
    width: 70vw;
    height: 55vw;
  }
  #imageContainer3 img {
    width: 70vw;
    height: 55vw;
    object-fit: contain;
    background-color: #39304f;
  }
  #description {
    font-size: 3vw;
  }
  a {
    font-size: 3vw;
    color: #39304f;
  }
}
